@import "mq";
@import "fonts";
@import "palette";

// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

// Default breakpoints from Frontend
$mq-breakpoints: (
    mobile:          320px,
    mobileMedium:    375px,
    mobileLandscape: 480px,
    phablet:         660px,
    tablet:          740px,
    desktop:         980px,
    leftCol:         1140px,
    wide:            1300px
);

@font-face {
    font-family: "GuardianTitlepiece";
    src: url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff2") format("woff2"), url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff") format("woff"), url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}


$backgroundColor:#121212;
$primaryColor:#00B2FF;
$secondaryColor:#005689;


section#football-100-2019 {
    position: relative;
    padding: 0 !important;
    overflow: hidden;
    margin-bottom: 20px;
    background-color:#fff;

    .fc-container__inner,
    .fc-slice,
    .facia-snap {
        overflow: hidden;
    }

    .facia-snap {
        padding: 0;
    }
}

.football100-2019__wrapper {
    background-color:$backgroundColor;
    width:100%;
    height:300px;
    @include mc(mobileLandscape){
        height:150px;
    }
    @include mc(phablet){
        height:180px;
    }
}

.football100-2019 {
    background-color:$backgroundColor;
    color:#fff;
    font-variant-numeric: lining-nums;

    &__heading {
        font-family: "GuardianTitlepiece","Guardian Egyptian Web",Georgia,serif;
        font-size:42px;
        line-height:115%;
        margin-left:10px;
        @include mc (mobileMedium) {
            font-size:50px;
        }
        @include mc(mobileLandscape){
            font-size:40px;
            margin-left:20px;
        }
        @include mc (phablet){
            font-size:50px;
            margin-left:20px;
        }
    }

    &__subheading {
        font-family: "Guardian Egyptian Web",Georgia,serif;
        font-size:17px;
        line-height:115%;
        font-weight:500;
        margin-left:10px;
        margin-top:4px;
        width: 240px;
        @include mc (mobileMedium){
            width:300px;
            margin-top:8px;
        }
        @include mc(mobileLandscape){
            width:230px;
            margin-left:20px;
        }
        @include mc(phablet){
            width:300px;
        }
        @include mc(desktop){
            margin-top:4px;
            font-size:22px;
        }
    }

    &__image {
        width: auto;
        height: 115px;
        position: absolute;
        right: -19px;
        bottom: 0;
        @include mc(mobileMedium) {
            height: 125px;
            bottom:-10px;
        }
        @include mc(mobileLandscape){
            height: 80px;
            bottom: 0;
        }
        @include mc(phablet){
            height: 120px;
            bottom: 0px;
        }
        @include mc(tablet){
            height: 145px;
            bottom: 0px;
            right:-6px;
        }
        @include mc(desktop){
            height: 160px;
            right: 90px;
        }
        @include mc(leftCol){
            right:330px;
            bottom: -8px;
        }
        @include mc(wide){
            right:400px;
        }
    }

    &__100text {
        font-family:"GuardianTitlepiece","Guardian Egyptian Web",Georgia,serif;
        color:$primaryColor;
        font-size:160px;
        margin-top: 54px;
        margin-right: 8px;
        text-align: right;
        @include mc(mobileMedium) {
            margin-top:60px;
            font-size:180px;
        }
        @include mc(mobileLandscape){
            margin-right:-17px;
            font-size: 130px;
            margin-top: -70px;
        }
        @include mc(phablet){
            font-size: 178px;
            margin-top:-80px;
        }
        @include mc(tablet){
            margin-top: -95px;
            margin-right: 20px;
        }
        @include mc(desktop){
            font-size:178px;
            margin-top:-94px;
            margin-right:190px;
        }
        @include mc(leftCol){
            font-size: 200px;
            margin-top: -93px;
            margin-right: 325px;
        }
        @include mc(wide){
            font-size: 208px;
            margin-top: -96px;
            margin-right: 415px;
        }
    }

    &__roundel {
        top: 4px;
        right: 10px;
        position: absolute;

        @include mc(mobileMedium){
            top:8px;
        }
        @include mc(desktop){
            right:20px;
        }
    }

    &__component-button {
        display:inline-flex;
        border-radius: 25px;
        background-color:#fff;
        padding:8px;
        margin-left: 8px;
        margin-top: 13px;
        text-decoration:none;
        span {
            color:$backgroundColor;
            font-family:"Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
            font-size:17px;
            font-weight:700;
            margin-top:-2px;
            padding-left: 10px;
        }
        svg {
            fill:$backgroundColor;
            padding-left:10px;
            padding-right:10px;
        }
        @include mc(mobileLandscape){
            margin-top: 11px;
            margin-left:18px;
            padding:4px;
            span {
                padding-left:8px;
            }
            svg {
                padding-left: 8px;
                padding-right: 8px;
            }
        }
        @include mc (phablet){
            margin-left:18px;
        }
        @include mc(leftCol){
            margin-left:872px;
        }
        @include mc(wide){
            margin-left: 1032px;
        }
        
    }

    &__component-button:hover {
        background-color:#ededed;
        text-decoration:none;
        
        svg {
            transform:translateX(3px);
            transition:transform 0.1s linear;
        }
    }



    &__dots {
        z-index:0;
        @include mc(mobileLandscape){
            margin-left:70px;
        }
        @include mc(phablet){
            margin-left:90px;
        }
        @include mc(tablet){
            margin-left:0;
        }
    }
    &__dot1 {
        background-color:$secondaryColor;
        width:100px;
        height:100px;
        border-radius:50px;
        margin-left:380px;
        margin-top:0px;
        @include mc(phablet){
            margin-left: 300px;
        }
        @include mc(tablet){
            margin-left:300px;
        }
        @include mc(desktop){
            margin-left: 370px;
        }
        @include mc(leftCol){
            margin-left: 320px;
        }
        @include mc(wide){
            margin-left: 390px;
        }

    }
    &__dot2 {
        background-color:$secondaryColor;
        width:140px;
        height:140px;
        border-radius:70px;
        margin-top: -130px;
        margin-left: 10px;
        @include mc(mobileMedium){
            margin-top: -150px;
            margin-left: 10px;
        }
        @include mc(mobileLandscape){
            margin-top: -145px;
            margin-left: 280px;
        }
        @include mc(phablet){
            margin-top: -160px;
            margin-left: 380px;
        }
        @include mc(tablet){
            margin-top:-175px;
            margin-left: 370px;
        }
        @include mc(desktop){
            margin-left: 450px;
        }
        @include mc(leftCol){
            margin-left: 420px;
        }
        @include mc(wide){
            margin-left: 480px;
        }
    }
    &__dot3 {
        background-color:$secondaryColor;
        width: 200px;
        height: 200px;
        border-radius: 100px;
        margin-top: -170px;
        margin-left: 140px;
        @include mc(mobileMedium){
            margin-top: -200px;
            margin-left: 230px;
        }
        @include mc(mobileLandscape){
            margin-top: -275px;
            margin-left: 380px;
        }
        @include mc(phablet){
            margin-top: -195px;
            margin-left: 510px;
        }
        @include mc(tablet){
            margin-top: -170px;
            margin-left: 580px;
        }
        @include mc(desktop){
            margin-left: 720px;
        }
        @include mc(leftCol){
            margin-left: 650px;
        }
        @include mc(wide){
            margin-left: 760px;
        }
    }
}


